[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The Tracker ??
[access "refs/*"]
	owner = group user/Subinsmani
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Subinsmani
	label-Verified = -1..+1 group user/Subinsmani
	push = group user/Subinsmani
	read = group user/Subinsmani
	rebase = group user/Subinsmani
	removeReviewer = group user/Subinsmani
	submit = group user/Subinsmani
[access "refs/heads/*"]
	create = group user/Subinsmani
	push = +force group user/Subinsmani
	pushMerge = group user/Subinsmani
	read = group user/Subinsmani
[access "refs/tags/*"]
	push = group user/Subinsmani
	push = +force group user/Subinsmani
